@charset "UTF-8";

@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
}


.fd_hd_item > a{
    color:white;
    text-decoration: none;
}


.each_post {
    background: rgba(255,255,255,0.5);
    border: 3px solid skyblue;
    height: 50px;
    width: 45vw;
    display: flex;
    margin: 20px;
}

.each_board_num {
    margin: 10px;
    width: 100px;
    /*height:50px;*/
    background: #fadfdf;
}

.each_board_content{
    width: 35vw;
    /*height:50px;*/
    background: white;
    display: flex;
    flex-direction: column;
}

.each_board_sub_bottom{
    display: flex;
}

.each_board_sub{
    height: 50px;
}


.each_board_sub > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.each_board_cat {
    background: white;
    padding: 5px;
    font-weight: bold;
}

.each_board_nickname {
    background: white;
    padding: 5px;
    font-weight: bold;
}

.each_board_date {
    background: white;
    padding: 5px;
    font-weight: bold;
}

.each_board_replycount {
    width: 50px;
    /*height:50px;*/
    background: #0739ff;
}

.each_board_likecount {
    width: 300px;
    /*height:50px;*/
    background: rgba(255,255,255,0.5);
    font-weight: bold;
    text-align: center;
    border-right: 1px solid skyblue;
}

.each_board_readcount {
    width: 100px;
    /*height:50px;*/
    background: rgba(255,255,255,0.5);
    text-align: center;
    font-weight: bold;
    border-left: 1px solid skyblue;
    border-right: 1px solid skyblue;
}

#search_submit {
    display: none;
}

.each_board_thumbnail{
    overflow: hidden;
}

.thumbnail_size{
    text-align: center;
    width: 5vw;
    height: 10vh;
}

.loading{
    width: 100%;
    height: 150px;
    background-color: #ff7171;
    display: none;
    font-size: 100px;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 1));
}

.container {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../asset/image/login/wo.jpg);
    background-size: cover;
}

.footer {
    background-color: black;
    border-top: 5px solid skyblue;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    bottom: 0;
    box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.2);
}

/* 헤더 영역 */
.container .header {
    background-color: black;
    border-bottom: 5px solid skyblue;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.2);
}


.container .header h1 a {
    text-decoration: none;
    color: white;
    font-family: abster;
}

.container .nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.container .nav ul li a {
    text-decoration: none;
    color: white;
}

.container .nav ul li a:hover {
	color: skyblue;
}




/* 바디 영역 */

.body_feedback{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    flex-wrap: wrap;
}

.body_feedback_mar{
    margin-left:26vw;
    margin-top: 50px;
    display: flex;
}


.main_container{
    /*display: flex;*/
    flex-direction: column;
    /*overflow: hidden;*/
}



.feedback_header{
    display: flex;
    background-color: black;
    width: 60vw;
    border-top: 1px solid #5b5b5b;
    border-radius: 2px;
    /*box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.1);*/
}

.feedback_header.fixed{
    background-color: black;
    box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.2);
    position: fixed;
    margin-top: -50px;
}

.feedback_body{
    width: 47vw;
    height: 60vh;
    overflow-y: auto;
    /*background-color: rgba(250, 134, 134, 0);*/
}

.feedback_body.fixed{
    margin-top: 70px;
}


.feedback_header> h1{
    text-align: center;
    color:white;
}

.feedback_header> div>*{
    color: white;
}

.feedback_header span{
    color:white;
}

.feedback_header ul{
    display: flex;
}
.feedback_header ul{
    justify-content: space-evenly;
}

.fd_hd_left{
    align-self: center;
    flex-grow:3;
}

.fd_hd_right{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.fd_search_container{
    align-self: center;
    display: flex;
}

.search-form{

}

.request_btn{
    align-self: center;
}

.request_btn {
    align-self: center;
    background: none;
    border: 2px solid #ffffff;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin:10px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.request_btn {
    background-color: rgba(255, 0, 0, 0.54);
}

/*mypage 단독*/

.board_header{
    background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
    /*box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.1);*/
    border : 5px solid skyblue;
    width: 47.5vw;
    height: 12.5vh;
    margin-bottom: 10px;
}

.sub-link__list {
    display: flex;
    list-style-type: none;
}

.sub-link__item > a {
    text-decoration: none;
    color: white;
    margin: 40px;
}

.mypage_body_tl{
	background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
    /*box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.1);*/
    border : 5px solid skyblue;
    width: 27vw;
    height: 50vh;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: 100px;
}

.mypage_body_tr{
	background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
    /*box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.1);*/
    border : 5px solid skyblue;
    width: 27vw;
    height: 50vh;
    margin-bottom: 10px;
    margin-right: 300px;
    margin-top: 100px;
}

.mypage_body_status{
	background-color: rgba(0,0,0,0.3);
    border-radius: 2px;
    /*box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.1);*/
    border : 5px solid skyblue;
    width: 47.5vw;
    height: 35vh;
    margin-bottom: 100px;
}

.hero button {
	background: none;
	border: none;
	color: black;
	font-weight: bold;
	padding: 10px 24px;
	margin-bottom: 10px;
	outline: none;
	cursor: pointer;
	transition: all .4s;
	font-family: abster;
	font-size: 18px;
}

.hero button:hover {
	background-color: rgba(135, 206, 235, 0.7);
}

.body_feedback h1{
    text-decoration: none;
    color: white;
    font-family: abster;
}

.mypage_body_tl h2{
    text-decoration: none;
    color: white;
    font-family: abster;
}

/* 푸터에들어갈내용 */
.footer-List {
	color: white;
	
}

.footer-List li{
	text-decoration: none;
	margin: 10px;
	font-weight: bold;
	font-size: 10px;
}

.footer-CSList li{
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	font-weight: bold;
	font-size: 10px;
}

/* 푸터 내용 끝 */