@font-face {
	font-family: abster;
	src: url(font/abster-webfont.woff) format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background{
	width: 100%;
	height: 100vh;
	background-color: gray;
}

.background_main{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../../asset/image/board/lol3.jpg);
	background-size: cover;
}


h1 {
	margin-left: 10px;
	text-decoration: none;
	color: white;
	font-size: 60px;
	margin-bottom: 20px;
	text-align: center;
}

#editor {
	width: 700px;
	margin-top: 25px;
	/*margin: 0 auto;*/
}

.wf_container {
	width: 698px;
	height: 1000px;
	margin-left: 33%;
}

/*.board_cat{*/
/*    padding:5px;*/
/*    color: #696969;*/
/*    height: 40px;*/
/*    width: 140px;*/
/*    border: 1px solid darkgray;*/
/*    border-radius : 5px;*/
/*    margin: 8px 0;*/
/*}*/

#board_subject {
	padding-left: 10px;
	border: 1px solid darkgray;
	height: 40px;
	width: 693px;
	margin: 8px 0;
	font-size: 14px;
}

#feedback_subject{
	padding-left: 10px;
	border: 1px solid darkgray;
	height: 40px;
	width: 693px;
	margin: 8px 0;
	font-size: 14px;
}

.board_file_cont .upload-name1{
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 200px;
	color: #999999;
}
.board_file_cont .upload-name2{
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 200px;
	color: #999999;
}

.board_file_cont label {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
}

.board_file_cont input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}


.btn_cc {
	border: none;
	border-radius: 4px;
	width: 120px;
	height: 48px;
	background: darkgray;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.btn_ok {
	border: none;
	border-radius: 4px;
	width: 120px;
	height: 48px;
	float: right;
	background: darkgray;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.invalid_cat {
	border-color: red
}

#error_cat {
	color: red
}



