@font-face {
	font-family: abster;
	src: url(font/abster-webfont.woff) format('woff');
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.txt {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  line-height: 100vh;
  z-index: 10;
  font-family: abster;
  font-size: 250px;
  text-align: center;
  color: #fff;
  background: #000;
  mix-blend-mode: multiply;
  animation: txt 1 1s 2.2s both;
}
.txt1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  line-height: 100vh;
  z-index: 10;
  font-family: abster;
  font-size: 250px;
  text-align: center;
  color: #fff;
  animation: txt1 1 1s 3.2s both;
}
.move {
  right: 44%;
  top: 72%;
  position: absolute;
  z-index: 10;
  text-align: center; 
  color: #fff;
  animation: move 1 1s 3.2s both;
}
.move button {
  border: 5px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  font-family: abster;
  font-size: 50px;
  background: none;
  color: #fff;
}
@keyframes txt {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes txt1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.body {
  width: 100%;
  height: 100%;
}
.box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: box 1 3s both;
}
@keyframes box {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
