@charset "UTF-8";

@font-face {
	font-family: abster;
	src: url(font/abster-webfont.woff) format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../../asset/image/login/wo.jpg);
	background-size: cover;
}

.container .header {
	border-bottom: 5px solid skyblue;
	background-color: black;
    /*border: 2px dotted white;*/
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.2);
}

.container .header h1 a {
	height: 100px;
	text-decoration: none;
	color: white;
	font-family: abster;
}

.container .nav ul li {
	display: inline-block;
	margin: 0 10px;
}

.container .nav ul li a {
	text-decoration: none;
	color: white;
}

.container .nav ul li a:hover {
	color: skyblue;
}

.container .hero {
	position: absolute;
	left: 50%;
	top: 17%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero2 {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .hero h2 {
	font-size: 60px;
	margin-bottom: 20px;
	font-family:abster;
}

.container .hero p {
	font-size: 22px;
}

.container .hero2 button {
	background: none;
	border: 5px solid skyblue;
	color: white;
	padding: 15px 20px;
	border-radius: 20px;
	margin-bottom: 20px;
	outline: none;
	cursor: pointer;
	transition: all .4s;
	font-family: abster;
	font-size: 18px;
}

.container .hero2 button:hover {
	background-color: rgba(135, 206, 235, 0.4);
}

.card ul li a {
	text-decoration: none;
	color: white;
	padding: 15px 20px;
	font-family: abster;
	display: inline-block;
}

.card ul li a:hover {
	color: skyblue;
}

/* 푸터에들어갈내용 */
.footer {
    background-color: black;
    border-top: 5px solid skyblue;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    bottom: 0;
}

.footer-List {
	color: white;
	
}

.footer-List li{
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	font-weight: bold;
	font-size: 10px;
}

.footer-CSList li{
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	font-weight: bold;
	font-size: 10px;
}

/* 푸터 내용 끝 */