@charset "UTF-8";

@font-face {
	font-family: abster;
	src: url(font/abster-webfont.woff) format('woff');
}

.sub-link__list {
	display: flex;
	list-style-type: none;
}

.sub-link__item>a {
	text-decoration: none;
	color: black;
	margin: 40px;
}

.each_post {
    background: white;
    border: 3px solid skyblue;
    height: 100px;
    width: 45vw;
    display: flex;
    margin: 10px;
    opacity: 0.9;
}

.each_board_num {
	margin: 10px;
	width: 100px;
	background: #fadfdf;
}

.each_board_content {
	width: 35vw;
	background: white;
	display: flex;
	flex-direction: column;
}

.each_board_sub_bottom {
	display: flex;
}

.each_board_sub {
	height: 50px;
}

.each_board_sub>a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
}

.each_board_cat {
	background: white;
	padding: 3px;
	font-weight: bold;
}

.each_board_nickname {
	background: white;
	padding: 3px;
	font-weight: bold;
}

.each_board_date {
	background: white;
	padding: 3px;
	font-weight: bold;
}

.each_board_replycount {
	width: 50px;
	/*height:50px;*/
	background: #0739ff;
}

.each_board_likecount {
	width: 70px;
	/*height:50px;*/
	background: white;
	font-weight: bold;
	text-align: center;
	border-right: 3px solid skyblue;
}

.each_board_readcount {
	width: 50px;
	/*height:50px;*/
	background: white;
	text-align: center;
	font-weight: bold;
	border-left: 3px solid skyblue;
	border-right: 3px solid skyblue;
}

.each_board_thumbnail {
	background: white;
}

.each_board_thumbnail {
	overflow: hidden;
}

#search_submit {
	display: none;
}

.thumbnail_size {
	text-align: center;
    width: 5vw;
    height: 10vh;
}

.loading {
	width: 46vw;
	height: 150px;
	background-color: rgba(248, 81, 81, 0);
	display: none;
	font-size: 50px;
	text-align: center;
	color: #00ffbd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9),
		rgba(0, 0, 0, 1));
}

.container {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../../asset/image/board/lol4.jpg);
	background-size: cover;
}

/* 헤더 영역 */
.container .header {
	background-color: black;
	border-bottom: 5px solid #4169E1;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.2);
}

.footer {
	background-color: black;
	border-top: 5px solid #4169E1;
	width: 100%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 0;
	bottom: 0;
	box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.2);
}

.container .header h1 a {
	text-decoration: none;
	color: white;
	font-family: abster;
}

.container .nav ul li {
	display: inline-block;
	margin: 0 10px;
}

.container .nav ul li a {
	text-decoration: none;
	color: white;
}

.container .nav ul li a:hover {
	color: #4169E1;
}

.container .info_nav{
	margin-top:3vh;
	text-align: center;
}
.container .info_nav ul li {
	display: inline-block;
	margin: 0 10px;
}

.container .info_nav ul li a {
	text-decoration: none;
	color: white;
}

.container .nav ul li a:hover {
	color: #4169E1;
}






/* 바디 영역 */
.body_board {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	height: 90vh;
	flex-wrap: wrap;
}

.body_board_mar {
	margin-top: 50px;
	display: flex;
}

.card_left {
	/*flex-grow: 1;*/
	/*flex-basis : 300px;*/
	/*flex-shrink: 0;*/
	/*border: 2px dotted white;*/
	margin: 0 5px;
	position: fixed;
	z-index: 9999;
}

.card_outline {
	/* background-color: #4169E1; */
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.3);
	border: 5px solid #4169E1;
	border-radius: 5px;
	margin-left: 10vw;
	width: 15vw;
	height: 70vh;
}

.user_info_box {
	border-bottom: 1px solid white;
	color: white;
	background-color: black;
	height: 15vh;
}

.user_welcome{
	background-color: rgba(65, 105, 225, 0.65);
	text-align: center;
	width:278px;
	height: 8vh;
	padding: 14px 0;
}

.info_nav ul li a {
	border: 2px solid skyblue;
	border-radius: 5px;	
}

.info_nav ul li a:hover {
	color: skyblue;
}

.card {
	padding: 20px 0 5px 10px;
}

.list > li > a:hover {
	color: #4169E1;
}

.main_container {
	/*flex-grow: 2;*/
	/*flex-basis : 700px;*/
	/*flex-shrink: 1;*/
	/*border: 2px solid red;*/
	margin-left: 560px;
	display: flex;
	flex-direction: column;
	/*overflow: hidden;*/
}

.card_right {
	/*margin: 0 5px;*/
	/*flex-grow: 1;*/
	/*flex-basis : 300px;*/
	/*border: 2px dotted #ffffff;*/
	/*background-color: red;*/
	
}

.hd-link {
	height: 5vh;
}

.hd-link>h3 {
	margin-top: 10px;
	margin-left: 1vw;
	float: left;
}

.hd-link>div>a {
	margin-top: 10px;
	margin-right: 1vw;
	float: right;
}

.fa-brands {
	color: white;
}

.fa-solid {
	margin-left: 10px;
}

.pencil>a {
	color: white;
	text-decoration: none;
}

.board_header {
	background-color: rgba(0,0,0,0.1);
	width: 46vw;
	height: 10vh;
	border-top: 1px solid #5b5b5b;
	border-radius: 2px;
	border: 5px solid #4169E1;
}

.board_header.fixed {
	background-color: black;
	box-shadow: 1px 2px 3px 1px rgba(255, 255, 255, 0.2);
	position: fixed;
	margin-top: -50px;
	width: 46vw;
}

.board_body.fixed {
	margin-top: 90px;
}

.board_header>h3 {
	color: white;
}

.board_header>div>* {
	color: white;
}

.board_header span {
	color: white;
}

.board_header ul li {
	float: left;
}

.board_body {
	width: 60vw;
	height: 85vh;
	overflow-y: auto;
}

.board_body {
	-ms-overflow-style: none;
}

.board_body::-webkit-scrollbar {
	display: none;
}

.card ul li a {
	text-decoration: none;
	color: white;
	padding: 15px 20px;
	font-family: abster;
	display: inline-block;
	margin-left: 20px;
}

.container .nav ul li a:hover {
	color: #4169E1;
}

.card ul li h6 {
	/*     text-decoration: none; */
	color: white;
	padding: 15px 20px;
	font-family: abster;
	display: inline-block;
}

.board_file_cont {
	float: right;
}

/* 푸터에들어갈내용 */
.footer-List {
	color: white;
	
}

.footer-List li{
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	font-weight: bold;
	font-size: 10px;
}

.footer-CSList li{
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	font-weight: bold;
	font-size: 10px;
}

/* 푸터 내용 끝 */